/*もしpositionプロパティを利用する場合、
  必ず「position:relative;」と「position:absolute;」をセットで利用する
ブラウザの幅は1000〜1500pxの大きさでデザインが崩れていないかを確認する  */

/* リンク設定 */
a {
  text-decoration: none;
}

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 50px;
  color: darkgrey;
}

.logo {
  width: 20%;
}

.nav-tab-contents {
  display: flex;
  font-weight: bold;
}

.nav-tab-contents-item a {
  padding-left: 30px;
  color: #777;
}

/* メイン */
.first-content {
  position: relative;
}

.img-content {
  width: 60%;
  margin: 10px 0 0 auto;
}

.sentence {
  font-size: 80px;
  line-height: 2;
  position: absolute;
  top: 50px;
  left: 17%;
  font-family: "Indie Flower", cursive;
  color: #870044;
  font-weight: bold;
}

.second-sentence {
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 60%;
  left: 17%;
  color: #870044;
}

.thard-sentence {
  font-weight: bold;
  line-height: 2;
  color: darkgrey;
  position: absolute;
  top: 65%;
  left: 17%;
}

.sentence span {
  color: #339999;
}

.second-sentence span {
  color: #339999;
}

/* ニュース */
.section2 {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.subtitle {
  font-family: "Indie Flower", cursive;
  font-size: 15px;
  color: #870044;
  padding-bottom: 20px;
  font-weight: bold;
}
.news-title {
  padding: 30px;
  font-size: 30px;
  color: darkgray;
  border-bottom: solid 2px darkgray;
}

.news {
  width: 700px;
}

.news-content {
  padding: 20px;
  border-bottom: solid 1px darkgrey;
}

.news-content span {
  border-radius: 10px;
  padding: 0 15px;
  background-color: #870044;
  color: #ffff;
  margin: 0 30px;
}

.last-b0rder {
  border: solid 2px darkgrey;
  margin-top: 30px;
}

/* 3つ目もコンテンツ */
.thard-content {
  background: #eeee;
  position: relative;
}

.thard-content-titles {
  text-align: center;
  padding-top: 30px;
}

.thard-content-title {
  font-size: 25px;
  color: #777;
}

.thard-content-sentence {
  width: 400px;
}
.thard-content-sentence1 {
  font-size: 15px;
  line-height: 1.7;
  position: absolute;
  width: 350px;
  top: 150px;
  left: 260px;
}

.thard-content-sentence2 {
  font-size: 15px;
  line-height: 1.7;
  position: absolute;
  width: 350px;
  top: 260px;
  left: 260px;
}

.thard-content-img {
  display: flex;
}

.thard-content-img img {
  width: 400px;
  margin: 50px 200px 50px auto;
}

/* サービス */

.service {
  margin: 50px auto;
  width: 900px;
}

.service img {
  width: 150px;
}
.service-sentence {
  margin: 20px;
}

.service-grid {
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 2fr 2fr;
  /* margin: 50px auto; */
  width: 900px;
}

.service-sentence {
  font-size: 25px;
  color: #666;
}

.box1 {
  position: relative;
  font-size: 20ox;
  color: #fff;
  grid-row: 1/3;
  grid-column: 1/2;
  background-color: #c72585;
}
.box1 h2 {
  text-align: center;
}
.box1 p {
  line-height: 1.5;
  padding: 20px 50px;
}
#first_img {
  text-align: center;
}

.box2 {
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 20ox;
  color: #fff;
  background-color: #993366;
  display: flex;
  padding: 30px 20px;
}
.box2 h2 {
  margin-bottom: 10px;
}

.box3 {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 20ox;
  color: #fff;
  background-color: #db7093;
  display: flex;
  padding: 30px 20px;
}
.box3 h2 {
  margin-bottom: 10px;
}

.service_text {
  margin-left: 10px;
}

/* ブログ */
.fifth-content {
  background-color: #eeee;
}

.wrappre {
  width: 60%;
  margin: 0ex auto;
  padding: 30px;
}

.fifth-content-titles {
  margin: 0 0 15px 0;
}

.fifth-content-title {
  font-weight: bold;
  color: #666;
}

.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 30%;
  cursor: pointer;
  border: 1px solid #e9eaea;
}

.card-img-content {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  position: relative;
}

.card-item {
  border-radius: 0px 0px 10px 10px;
  background-color: #fff;
}

.blog {
  position: absolute;
  padding: 10px;
  background-color: #c72585;
  color: #fff;
  border-radius: 10px 0 0 0;
}

.card-img-content img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.card-sentence {
  width: 260px;
  padding: 20px 10px;
  color: #777;
  font-weight: bold;
}
.card-sentence p {
  line-height: 2;
  padding: 0 15px;
}

.card-sentences {
  color: #777;
  width: 260px;
  display: flex;
  padding: 20px 0px 20px 5px;
  justify-content: space-between;
}

.topics {
  text-align: center;
  margin-top: 30px;
}

.topics-button {
  padding: 15px 40px;
  border: #c72585 solid 2px;
  background-color: #fff;
  border-radius: 30px;
  color: #c72585;
  font-weight: bold;
}
/* 会社概要 */

.six-contents {
  width: 60%;
  margin: 50px auto;
}

.six-content-titles {
  margin: 20px 0;
}

.six-content-title {
  font-size: 20px;
  color: #666;
}

table {
  color: #666;
  width: 100%;
  /* margin: 0 auto; */
}
table th {
  text-align: left;
  border: 1px solid #ccc;
  padding: 20px;
}
table td {
  border: 1px solid #ccc;
  padding: 20px;
}
table th {
  font-weight: bold;
  background-color: #dedede;
}

/* 採用情報＆社員インタビュー*/
.seven-content-img-content {
  display: flex;
}

.recruit-info {
  position: relative;
  background: url(../img/recruit.png) no-repeat center/cover;
  height: 30vh;
  width: 100vw;
}

.recruit-info h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}

.interview {
  position: relative;
  background: url(../img/interview.png) no-repeat center/cover;
  height: 30vh;
  width: 100vw;
}

.interview h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #fff;
}

/* コンタクト */
.final-content {
  text-align: center;
  width: 50%;
  margin: 20px auto;
}

.final-content-contact {
  position: relative;
}

.final-content-contact-button button {
  position: relative;
  margin: 60px 0 0 0;
  padding: 20px 70px;
  border-radius: 30px;
  background: linear-gradient(30deg, #c72585, #870044);
  color: #fff;
  box-shadow: 0px 8px 3px #870044;
  border: solid 1px #c72585;
}

.final-content-contact-button::after {
  content: "";
  position: absolute;
  top: 79%;
  right: 59%;
  background: url(../img/mailicon.svg) no-repeat;
  background-size: cover;
  width: 20px;
  height: 20px;
  transform: translate(0, -50%);
}

.final-content-contact-line {
  border-left: solid 2px #c72585;
  position: absolute;
  height: 30px;
  top: 30px;
  left: 350px;
}

/* フッター */

.footer {
  margin-top: 50px;
  text-align: center;
  padding: 20px 0;
  background-color: azure;
}

.copyright {
  font-size: 10px;
}

.copyright::before {
  content: "Copyright ";
  color: darkgrey;
  font-size: 15px;
}

.copyright::after {
  content: " All Right Reserved";
  color: darkgrey;
  font-size: 15px;
}
